page-lms-activity-list {
    .list-box .upper{
        margin: 0;
    }

    .list-box{
        border: 1px solid #ddd;
        box-shadow: 8px 8px 4px 0 #f1f1f1 !important;
        padding-top: 0;
        .seeDetailsBox{
            content: 'See Details';
            position: absolute;
            top: 4px;
            right: 0px;
            z-index: 1;
            color: rgb(164, 164, 164);
            font-size: 9px;
            background: #f2f7ff;
            padding: 2px;
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }
        .upper{
            padding-top: 8px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #f2f5f9;
            border-bottom: 1px dashed #ccc !important;
            margin: 0;
        }
        .lower{
            padding: 0 5px;
            border: none;
        }
    }
    .callbtnBg{
        background-color: #fff;
        border-bottom-left-radius: 50%;
        padding: 5px;
    
        border-top-right-radius: 10px;
        margin-right: -10px;
        margin-top: -8px;
        
    }

    .popover_list{
        margin-bottom: 0px !important;
        div{
            font-size: 14px;
            border-bottom: 1px solid #dedcdc;
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: center;
            // padding-left: 2px;
        }
        .img{
            background-color: black;
            position: relative;
        }
        button{
            font-size: 14px;
            padding-right: 8px;
            img{
                position: relative;
                top:5px
            }
        }
    }
}
