<ion-header>

    <ion-navbar>
        <ion-title *ngIf="LeadType == 'My'">My Enquiry</ion-title>
        <ion-title *ngIf="LeadType != 'My'">Team's Enquiry</ion-title>
        <ion-buttons end *ngIf="teamCount > 0">
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <div class="search add-search">
          <div class="filter">
            <ion-searchbar type='text' name="master" [(ngModel)]="filter.search" (keydown.enter)="get_assign_dr(activeTab)">
            </ion-searchbar>
            <a class="date-pick">
              <label class="chedate">
                <input type="date" name="date" [max]="date" [(ngModel)]="filter.date" (ngModelChange)="get_assign_dr(activeTab)" />
                <i class="material-icons">date_range</i>
              </label>
            </a>
          </div>
        </div>
    </ion-toolbar>

  
</ion-header>



<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="capsule-tabs">
        <ul>
            <li [ngClass]="{'active' : activeTab=='Qualified'}" (click)="get_assign_dr('Qualified')">
                <p>Qualified<span>{{enquiryList.qualified_count}}</span></p>
            </li>
            <li [ngClass]="{'active' : activeTab=='Win'}" (click)="get_assign_dr('Win')">
                <p>Win<span>{{enquiryList.win_count}}</span></p>
            </li>
            <li [ngClass]="{'active' : activeTab=='Lost'}" (click)="get_assign_dr('Lost')">
                <p>Lost<span>{{enquiryList.lost_count}}</span></p>
            </li>
            
        </ul>
    </div>

    <div class="pd-left-right16 mt16 mb100">
        <ng-container *ngFor="let data of dr_list; let i=index ">
            <div class="attendance-list" [ngClass]="{'new': data.read_status == '0'}" (click)="lead_detail(data.id)">
                <div class="slab slab-bg">
                    <div class="slab-day">

                        <p>{{data.date_created | date:'d MMM y'}}</p>
                        <span>Date Created</span>
                    </div>

                    <div class="slab-day">
                        <p>{{data.influencer_type}}</p>
                        <span>Enq. Type</span>
                    </div>
                    <div class="slab-day">
                        <p>{{data.enquiry_id}}</p>
                        <span>Enq. Id</span>
                    </div>
                </div>
                <div class="center-block">
                    <div class="circle">{{i+1}}</div>
                    <h1 class="f12">{{data.name}}-({{data.company_name}}) </h1>
                    <p>{{data.mobile}}</p>
                </div>
                <div class="other-block pb0" *ngIf="data.state  || data.district  || data.city  || data.area">
                    <p><strong>Address :</strong>
                        {{data.address}} {{data.area}} {{data.district}} {{data.state}}
                    </p>
                </div>
                <div class="other-block pb0" *ngIf="data.status_remark  ">
                    <p><strong>Status :</strong>
                        {{data.status_remark}} 
                    </p>
                </div>
              
            </div>
        </ng-container>
    </div>


    <div class="nothing-here" *ngIf="load_data == 1">

        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data Not Available</p>
            </div>
        </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...'}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addLead()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>