<ion-header>
    <ion-navbar>
        <ion-title>Quotation List</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <div class="search add-search">
            <div class="filter">
                <ion-searchbar type='text' name="master" [(ngModel)]="filter.search" (keydown.enter)="getQuotationList()">
                </ion-searchbar>
                <a class="date-pick">
                    <label class="chedate">
                        <input type="date" name="date" [(ngModel)]="filter.date" (ngModelChange)="getQuotationList()" />
                        <i class="material-icons">date_range</i>
                    </label>
                </a>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="capsule-tabs">
        <ul>
            <li [ngClass]="{'active' : quotationStatus=='Draft'}"
                (click)="filter.date='';filter.search='';start=0;quotationStatus='Draft'; getQuotationList()">
                <p>Draft</p>
               
            </li>
            <li [ngClass]="{'active' : quotationStatus=='Pending'}"
                (click)="filter.date='';filter.search='';start=0;quotationStatus='Pending';getQuotationList()">
                <p>Other</p>
            
            </li>

        </ul>
    </div>



     <div class="pl16 pr16 mt15 mb50">
    <div class="attendance-list" *ngFor="let row of quotation_data" (click)="gotoQuotationDetailPage(row.quotation_id,row.quotation_status)">
      <div class="slab slab-bg">
        <div class="slab-day">
          <p>{{row.date_created| date:'d MMM y'}}</p>
          <span>Date</span>
        </div>
        <div class="slab-day">
          <p>₹ {{row.grand_total ? row.grand_total : '--'}}</p>
          <span>Amount</span>
        </div>
      </div>

      <div class="center-block">
        <div class="circle">{{row.company_name.substring(0,1).toUpperCase()}}</div>
        <h1>{{row.company_name.toUpperCase()}}</h1>
        <p>{{row.name ? row.name : 'N/A'}}</p>
        <p *ngIf="row.created_by_name != null">Created By : {{row.created_by_name ? row.created_by_name : 'N/A'}}</p>
      </div>
       <div class="slab mt5">
        <div class="slab-day">
          Remark:<p class="bold">{{row.quotation_remark && row.quotation_remark !=''? row.quotation_remark:'--'}}</p>
          
        </div>
       </div>

    
    </div>
  </div>

    <div class="nothing-here" *ngIf="quotation_data.length<1">

        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data not Available</p>
            </div>
        </div>
    </div>

    <div class="h50"></div>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addQuotations()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>






</ion-content>