page-add-retailer {
    ion-content{
    background-color:1px solid rgb(227, 226, 226) !important;
    }
    ion-input{
        border:1px solid rgb(227, 226, 226) !important;
        // box-shadow: 0 0 5px 3px #f2f2f2;
        
        // border: none !important;
        border-radius: 4px;
    }
}
