<ion-header>
    <ion-navbar>
        <ion-title>
            Add Order1
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="edit">
        <ion-list>

            <!-- Category Dropdown -->
            <ion-item class="cs-input mt0">
                <ion-label floating>Select Category Type</ion-label>
                <ion-select name="cat_id" [(ngModel)]="data.cat_id" #cat_id="ngModel"
                    (ngModelChange)="get_subcategory_list()">
                    <ion-option *ngFor="let row of catList" value="{{row.id}}">{{row.category}}</ion-option>
                </ion-select>
            </ion-item>

            <!-- Subcategory Dropdown -->
            <ion-item class="cs-input mt0" *ngIf="data.cat_id">
                <ion-label floating>Select Subcategory</ion-label>
                <ion-select name="subcategory_id" [(ngModel)]="data.subcategory_id" #subcategory_id="ngModel"
                    (ngModelChange)="get_item_list('','',lastGstPercent)">
                    <ion-option *ngFor="let sub of subCatList" value="{{sub.id}}">
                        {{sub.sub_category_name}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <!-- Item Dropdown -->
            <ion-item class="cs-normal-select retailerSelectionBox mt16" *ngIf="data.subcategory_id">
                <ion-label>Select Item</ion-label>
                <ionic-selectable item-content [(ngModel)]="data.product_id" [items]="item_list" itemValueField="id"
                    itemTextField="display_name" [canSearch]="true" [hasInfiniteScroll]="true" #itemSelectable
                    (onSearch)="searchItemList($event,itemType,lastGstPercent)" (onClose)="onCloseItemList()"
                    (onInfiniteScroll)="getMoreItems($event)"
                    (ngModelChange)="get_product_details($event); get_product_Size(data.type_name.id,data.product_id,'listInput','')">
                </ionic-selectable>
            </ion-item>







            <div class="product-item-table" *ngIf="product_list.length ">
                <table class="scroll-150">
                    <tr>
                        <th class="w100">Product Detail</th>
                        <td>{{product_detail.product_name}} ({{product_detail.product_code}})</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{product_detail.category}}</td>
                    </tr>
                    <tr>
                        <th>Small Packing</th>
                        <td>{{product_detail.small_packing_size}}</td>
                    </tr>
                    <tr>
                        <th>Master Packing</th>
                        <td>{{product_detail.master_packing_size}}</td>
                    </tr>
                </table>
            </div>

            <div class="product-item-table" *ngIf="product_list.length ">
                <table class="scroll-150">
                    <tr>
                        <th *ngIf="this.data.feature_apply == 'Yes'">Feature</th>
                        <th class="w60 text-right">Price</th>
                        <th class="w70 text-center">Qty</th>
                        <!-- <th class="w60 text-right">Net Price</th> -->
                    </tr>
                    <tr *ngFor="let pop of product_list;let i = index;">
                        <td *ngIf="this.data.feature_apply == 'Yes'">{{pop.product_size}}</td>
                        <td class="w60 text-right">
                            <input type="number" name="product_price"
                                [ngModel]="pop.product_price && pop.product_price !== 0 ? pop.product_price : null"
                                (ngModelChange)="pop.product_price = $event; onPriceChange($event, data.type_name.id)"
                                placeholder="Price" onkeypress="return event.charCode>=48 && event.charCode<=57"
                                style="text-align: right;" />
                        </td>
                        <td class="w70 text-center">
                            <input type="number" name="qty" [(ngModel)]="pop.qty" #size="ngModel" placeholder="QTY."
                                (ngModelChange)="(pop.qty == '' || pop.qty == null || pop.qty<1 )?(addToListButton = true):(addToListButton = false);"
                                onkeypress="return event.charCode>=48 && event.charCode<=57">
                        </td>

                        


                        <!-- <td class="w60 text-right">&#x20B9; {{pop.product_price}}
                        </td> -->


                        <!-- <td class="w60 text-right">&#x20B9; {{pop.net_price ?pop.net_price :
                            '0'}} </td> -->
                    </tr>



                </table>

            </div>


        </ion-list>



        <div class="mt16" *ngIf="product_list.length ">
            <button ion-button class="cs-btn" [disabled]="addToListButton" (click)="addToList()">Add To List</button>
        </div>

        <div class="cs-heading1 pl0" *ngIf="add_list.length">
            <p>PRODUCT INFORMATION</p>
        </div>
        <div class="list-box mt10" *ngFor="let row of add_list;let i=index">
            <div class="mid mt0">
                <div class="content-info">
                    <div class="right-info">
                        <div>
                            <p>#{{i+1}} {{row.product_name}} -({{row.product_code}}) </p>
                        </div>
                        <p *ngIf="data.feature_apply == 'Yes'">Feature- {{row.product_size}}</p>
                    </div>
                </div>
                <div class="tag-info">
                    <button><i class="material-icons red-clr" (click)="DeleteItem(i)">delete_sweep</i></button>
                </div>
            </div>
            <div class="three_boxes">
                <div class="lower ml2">
                    <p class="font10">Price</p>
                    <p class="font10">&#x20B9;
                        {{row.price!=null?row.price:row.product_price?row.product_price:'0'}}</p>
                </div>
                <!-- <div class="lower ml2">
                    <p class="font10">Standard Discount</p>
                    <p class="font10">&#x20B9;
                        {{row.standard_discount_price!=null?(row.standard_discount_price | number:'1.2-2'):'0'}},
                        {{row.standard_discount}}%</p>
                </div>
                <div class="lower ml2">
                    <p class="font10">Quantity Discount</p>
                    <p class="font10">&#x20B9;
                        {{row.quantity_discount_price!=null?(row.quantity_discount_price | number:'1.2-2'):'0'}},
                        {{row.quantity_discount}}%</p>
                </div>
                <div class="lower ml2">
                    <p class="font10">Cash Discount</p>
                    <p class="font10">&#x20B9;
                        {{row.cash_discount_price!=null?(row.cash_discount_price | number:'1.2-2'):'0'}},
                        {{row.cash_discount}}%</p>
                </div> -->



            </div>
            <div class="three_boxes">
                <div class="lower ml2">
                    <p class="font10">Discount %</p>
                    <p class="font10">{{row.dr_disc | number:'1.2-2'}}</p>
                </div>

                <div class="lower ml2">
                    <p class="font10">Discount Amount</p>
                    <p class="font10">{{row.discounted_price | number:'1.2-2'}}</p>
                </div>

                <div class="lower ml2">
                    <p class="font10">Net Price</p>
                    <p class="font10">₹ {{row.net_price | number:'1.2-2'}}</p>
                </div>

                <div class="lower ml2">
                    <p class="font10">Qty</p>
                    <p class="font10">{{row.qty}}</p>
                </div>
            </div>
            <div class="three_boxes">
                <div class="lower">
                    <p class="font10">Sub total</p>
                    <p class="font10">₹ {{row.amount | number:'1.2-2'}}</p>
                </div>
                <div class="lower ml2">
                    <p class="font10">GST Amount ({{data.gst_type}})</p>
                    <p class="font10">₹ {{row.gst_amount | number:'1.2-2'}} ({{row.gst_percent}} %)</p>
                </div>
                <div class="lower ml2">
                    <p class="font10">Amount </p>
                    <p class="font10">₹ {{row.total_amount!=null?(row.total_amount |
                        number:'1.2-2'):row.total_amount?(row.total_amount | number:'1.2-2'):'0'}}</p>
                </div>
            </div>
        </div>

        <div *ngIf="add_list.length > 0">

            <div class="time_show amount-listing">
                <p>Total Item</p>
                <p>{{add_list.length}}</p>
            </div>
            <div class="time_show amount-listing">
                <p>Total Item Qty</p>
                <p>{{total_qty}}</p>
            </div>

            <div class="time_show amount-listing">
                <p>Total Order Amount</p>
                <p>{{total_Order_amount ? '₹' + ' ' + (total_Order_amount | number:'1.2-2') + ' ' + '/-': '0'}}</p>
            </div>
            <div class="time_show amount-listing">
                <p>Total Discount Amount</p>
                <p>{{order_discount ? '₹'+' '+(order_discount | number:'1.2-2')+' '+'/-':'0'}}</p>
            </div>
            <div class="time_show amount-listing">
                <p>Sub Total</p>
                <p>{{order_total ? '₹'+' '+(order_total | number:'1.2-2')+' '+'/-':'0'}}</p>
            </div>
            <div class="time_show amount-listing">
                <p>Total GST Amount-({{data.gst_type}}) </p>
                <p>₹ {{total_gst_amount | number:'1.2-2'}} /-</p>
            </div>
            <div class="time_show amount-listing">
                <p>Grand Total</p>
                <p>₹ {{new_grand_total | number:'1.2-2'}} /-</p>
            </div>

        </div>


        <ion-list *ngIf="add_list.length">
            <ion-item class="cs-textarea1 ">
                <ion-label floating><span>Remark</span></ion-label>
                <ion-textarea name="remark" [(ngModel)]="data.remark"></ion-textarea>
            </ion-item>
        </ion-list>

        <!-- <div class="upload-doc pl10 " *ngIf="add_list.length">
            <div class="">
                Attach image
            </div>
            <ul class="no-padding">
                <li class="add-image" (click)="image_data.length>6 ? captureMedia():showLimit()">
                    <i class="material-icons">add_a_photo</i>
                </li>
                <li class="image-upload" *ngFor="let pic of image_data;let i = index;">
                    <img src="{{pic}}">
                    <button class="del" (click)="remove_image(i)"><i class="material-icons">delete_sweep</i></button>
                </li>
            </ul>
        </div> -->

        <div class="flex-btn" *ngIf="add_list.length > 0 && data.type_name">
            <!-- *ngIf="!this.OrderItem && !this.order_data" -->
            <button ion-button [disabled]="btndisable" class="Buttons"
                (click)="user_data.order_status='Pending';save_orderalert('submit');">
                <ion-spinner *ngIf="btnDisableSave"></ion-spinner>
                Save
            </button>

            <!-- <button ion-button [disabled]="btndisable" class="Buttons"
                (click)="user_data.order_status='Draft';save_orderalert('draft');">
                <ion-spinner *ngIf="btnDisableDraft"></ion-spinner>
                Draft
            </button> -->
        </div>

    </div>

</ion-content>