<ion-header>
    <ion-navbar>
        <ion-title>{{'Product Detail'|translate}}</ion-title>
        <ion-buttons end>
            <button ion-button class="top-cart-btn" *ngIf="cart_array?.length">
                <span class="counter">{{cart_array.length}}</span>
                <i class="material-icons">shopping_cart</i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <div class="search add-search">
            <div class="filter">
                <ion-searchbar type='text' name='search_key' [(ngModel)]="filter.search_key"
                (keydown.enter)="getProductDetail()">
            </ion-searchbar>
        </div>
    </div>
</ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
    </ion-refresher-content>
</ion-refresher>

<div class="grid-layout"  *ngIf="prod_detail.length > 0">
    <div class="product-data two-column" *ngFor="let row of prod_detail"  (click)="goToDetail(row.id)">
        <!-- <div class="image-thubmnail">
            <img *ngIf="row.image" src="{{image_url+row.image}}">
            <i class="material-icons" *ngIf="!row.image">perm_media</i>
        </div> -->
        <div class="content">
            <h6 style="overflow: visible; white-space: normal;">{{row.product_name}}</h6>
            <div class="code" style="margin-top:33%">
                <!-- <span>{{row.point_category_name}} MRP- &#8377;{{row.mrp?row.mrp:'--'}}</span> -->
                <!-- <span>{{'MRP'|translate}}- &#8377;{{row.mrp?row.mrp:'--'}}</span> -->
                <h6><b *ngIf="tokenInfo.type==16">{{'POINTS'|translate}}-{{row.influencer_point?row.influencer_point:'--'}}</b>
                    <b *ngIf="tokenInfo.type==8">{{'POINTS'|translate}}-{{row.plumber_point?row.plumber_point:'--'}}</b>
                    <b *ngIf="tokenInfo.type==17">{{'POINTS'|translate}}-{{row.counter_boy_point?row.counter_boy_point:'--'}}</b></h6>

                <span > <ion-icon name="arrow-forward"></ion-icon></span>
            </div>
        </div>
    </div>
</div>


<div class="nothing-here" style="height: 50%;" *ngIf="prod_detail.length == 0">
    <div class="outer">
        <div class="innear">
            <img src="assets/imgs/no_found.svg" alt="">
            <p>{{'Data Not Available' |translate}}</p>
        </div>
    </div>
</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...'}}">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>