page-expense-add-new {
    .localConvHead {
        &::after {
            display: none !important;
        }
    }

    .errorBox{
        margin-top: 10px;
        border: 1px solid red;
        border-radius: 5px;
        padding: 5px;
        background: #ffd2d2;
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }


    .errorBox1 {
        background-color: #ffe6e6;
        border: 2px solid #e71c1c;
        padding: 15px;
        margin-top: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-family: Arial, sans-serif;
    }
    
    .error-icon {
        color: #e71c1c;
        font-size: 24px;
        margin-right: 10px;
    }
    
    p {
        margin: 0;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
    }
    
    .highlight-red {
        color: #e71c1c;
        font-weight: bold;
    }
    
    .highlight-blue {
        color: #0000ff;
        font-weight: bold;
    }
    
    .highlight-darkblue {
        color: #212185;
        font-weight: bold;
    }
    

    .capsule-tabs {
        margin-bottom: 10px;

        ul {
            li {
                padding: 0;

                .item {
                    background-color: transparent !important;
                    padding-left: 10px !important;
                }
            }
        }
    }

    .add_image {
        width: 100%;
        text-align: center;
        background-color: #f9f9fb;
        padding: 10px;
        border-radius: 10px;
        margin-top: 16px;
        box-shadow: 4px 3px 10px 0px #f9f9f9;
        border: 1px dashed rgb(182, 182, 245);
        font-size: 10px;

        img {
            width: 30px !important;
            display: block;
            margin: auto;
        }
    }

    .accordion {
        border-radius: 8px;
        overflow: hidden;

        margin-bottom: 10px;
        border: 1px dashed rgb(182, 182, 245) !important;
    }

    .summary-table {
        border: 1px dashed rgb(182, 182, 245) !important;

        margin-top: 10px;

        td:nth-child(2) {
            span {
                background-color: #fff;
                border: 1px dashed rgb(182, 182, 245) !important;
                background-color: #f9f9fb;
                padding: 3px 5px;
                border-radius: 4px;
            }
        }
    }

    .edit {
        margin: 0px;
        border: 0px !important;
        border-radius: 6px;
        padding: 0px !important;
    }


}