<ion-header>
  <ion-navbar>
    <ion-title>{{'Purchase Detail'|translate}}</ion-title>
  </ion-navbar>
        <!-- <button  (click)="EditPurchase()" *ngIf="conDetail.status=='Pending' && this.tabType=='My'"> <i
            class="material-icons">edit</i></button> -->
</ion-header>



<ion-content>
  <div class="attendance-list flat-list">
    <div class="slab slab-bg">
      
      <div class="slab-day">
        <p>{{conDetail.pur_id }}</p>
      </div>
      <div class="slab-day">
        <p>{{conDetail.date_created |date:'d MMMM y' }}</p>
        <span>{{'Date Created'|translate}}</span>
      </div>
      
    
    </div>
 

    <div class="center-block" >
      <div class="circle">{{conDetail.dealer_name ?.toUpperCase()| slice:0:1}}</div>
      <h1 class="f12">{{conDetail.dealer_name ?.toUpperCase()}}</h1>
      <p>{{'Mobile No'|translate}}. : {{conDetail.dealer_mobile}}</p>
      <a class="cell-phone" href="tel:{{conDetail.dealer_mobile}}"><i class="material-icons">phone</i></a>
    </div>
    
  
    <div class="other-block">
      <!-- <p  *ngIf="userId"><strong> Assign Distributor:</strong> {{conDetail.distributor_company_name |titlecase}}({{conDetail.distributor_mobile}})</p> -->
      <p><strong>{{'Bill No.'|translate}} :</strong> {{conDetail.bill_no?conDetail.bill_no:'N/A'}}</p>
      <p  *ngIf="conDetail.status_updated_by_name"><strong>Status Updated By :</strong> {{conDetail.status_updated_by_name |titlecase}} -({{conDetail.status_updated_by_mobile}})</p>

      
    </div>
    <div class="slab">
      <div class="slab-day">
        <p class="{{conDetail.status}}">{{conDetail.status}}</p>
        <span>{{'Status'|translate}}</span>
      </div>
      <div class="slab-day">
        <p *ngIf="conDetail.type==1">Distributor</p>
        <p *ngIf="conDetail.type==7">Direct Dealer</p>
        <p *ngIf="conDetail.type==3">Dealer</p>

       

        <span>{{'Type'|translate}}</span>
      </div>
      
      <div class="slab-day" *ngIf="conDetail.status=='Approved'">
        <p style="text-align:center">{{conDetail.points}}</p>
        <span>{{'Points Earned'|translate}}</span>
        <!-- <span  *ngIf="userId">Points Transfer</span> -->
      </div>

    
      
      <!-- <div class="slab-day" *ngIf="conDetail.status_updated_by_name">
        <p>{{conDetail.status_updated_by_name |titlecase}} -({{conDetail.status_updated_by_mobile}})</p>
        <span>Status Updated By</span>
      </div> -->
    </div>
    
    <div class="other-block" *ngIf=" conDetail.status=='Reject'">
      <p >
        <strong>{{'Reason'|translate}} :</strong> {{conDetail.status_reason |titlecase}}
      </p>
    </div>
  </div>
  
  <div class="pl16 pr16 mb16">
    <div class="border-container mt16">
      <div class="summary-heading">Item Detail</div>
      
      <div class="payment-box">
        <div class="credit-table">
          <table>
            <tr>
              <td class="text-left">Product Detail</td>
              <td class="text-left">Qty </td>
            </tr>
            <tr *ngFor="let row of conDetail.parts">
              <th>{{row.product_detail | titlecase}}</th>
              <th>{{row.qty }}</th>
              
            </tr>
          </table>
        </div>
      </div>
      
      
      
    </div>
    <div class="border-container mt16">
      <div class="summary-heading">{{'Bill Image'|translate}}</div>
      <ng-container>
        <div class="upload-doc mt10">
          <ul class="no-padding">
            
            <li class="image-upload" *ngFor="let row of conDetail.image" (click)="imageModal(upload_url + row.image)">
              <img src="{{upload_url + row.image}}">
              
            </li>
          </ul>
          
        </div>
        
        
      </ng-container>
    </div>
    
  </div>
</ion-content>

