    page-loyalty-purchase-detail {

        // .cs-list{border-radius: 0px;}
        
        ion-item{
            
            
            p{
                font-size: 12px !important;
                line-height: 22px !important;
                color: #000 !important;
                
            }
            
            ion-label{
                font-size: 13px;
                white-space: normal;
            }
        }
        
        h2{
            margin: 0px 16px !important;
            font-size: 14px;
            text-transform: capitalize;
            border-bottom: 2px solid;
            display: inline-block;
            color: #c8243d;
        }
        
        .bill_img{
            margin-top: 16px;
            border: 1px solid #ccc;
            width: 100%;
            height: 200px;
            min-height: auto;
            text-align: center;
            border-radius: 10px;
            background: #f7f7f7;
            overflow: hidden;
            
            img{
                height: 100%;
                object-fit: contain;
                margin: 0 auto;
            }
        }


        
      
    
        .bg-thumbnail {
            height: 300px;
            text-align: center;
            width: 100%;
            padding: 0px 16px;
    
    
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }


        .cs-list 
        {
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
            padding: 10px;
            overflow: hidden;
            border-radius: 8px;
            margin-bottom: 16px;
            position: relative;
    
            &.dots{
                // background: #daff9f;
                border-top: 15px solid #6ead07 !important;
                color: #000 !important;
                
               
            }
            
            .status-padding{
                padding: 2px 8px;
                border-radius: 6px;
                color: #fff !important;
            }
            
            .top-block {
                
                padding-bottom: 5px;
                display: flex;
                align-items: center;
                background: #e6e7e9;
                justify-content: space-between;
                margin: -10px -10px 0px -10px;
                padding: 10px 10px 5px 10px;
    
              
                
                p {
                    font-size: 12px;
                    color: #000;
                    font-weight: 600;
                    
                    span{
                        color: #a6a6a6;
                        font-weight: normal;
                    }
                }
                
                ion-icon{color: #000;}
                
                &.footer-block{
                    border-top: 1px solid #ccc;
                    padding-top: 5px;
                    border-bottom: 0px;
                    background: #ffffff;
                    margin: 0px -10px -10px;
                    padding: 10px;
                    
                    &.higlight{
                        background: #43903a;
                        
                        p{
                            color: white;
                        }
                    }
                }
            }
            
            
            .middle-block{
                margin: 0px -10px;
                padding: 5px 10px 0px 10px;
                background: #fff;
                
                p{
                    font-size: 12px;
                    line-height: 18px;
                    color: #a6a6a6;
                    
                    strong{
                        color: #000000;
                    }
                }
            }
            
            .three-block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 0px;
            }
            
            
            
            .number-block{
                p{
                    font-size: 12px;
                    line-height: 18px;
                    color: #a6a6a6;
                    
                    strong{
                        color: #000000;
                    }
                }
            }
            
            .botm-block 
            {
                margin: 0px -10px -10px;
                padding: 10px;
                background: #f2f2f2;
                
                p{
                    font-size: 12px;
                    line-height: 18px;
                    color: #a6a6a6;
                    
                    strong{
                        color: #000000;
                    }
                    
                    ion-icon{
                        font-size: 22px;
                        margin-right: 5px;
                    }
                }
            }
            
            &:last-child{
                margin-bottom: 0px;
            }
            
            &.flat{
                box-shadow: none;
                border-radius: 0px;
            }
            
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 4px;
                height: calc(100% - 33px);
            }
            
            &.Reject{
                .status-padding{
                    background: #e62e2d;
                }
                
                &:after{
                    background: #e62e2d;
                }
            }
            &.Pending{
                .status-padding{
                    background: #eb7d25;
                }
                &:after{
                    background: #eb7d25;
                }
                
            }
            &.Verified{
                .status-padding{
                    background: #459405;
                }
                &:after{
                    background: #459405;
                }
            }
            &.Suspect{
                .status-padding{
                    background: #11d2e1;
                }
                &:after{
                    background: #11d2e1;
                }
                
            }
            
            &.after-none{
                &:after{
                    background: none;
                }
            }
        }
    
        .block-item{
            .column-blocks {
                display: flex;
                align-items: center;
                
                margin: 0px -10px;
                
                .blocks {
                    width: 100%;
                    padding: 5px;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    
                    p{
                        font-size: 12px;
                        color: #000000;
                        line-height: 20px;
                        
                        strong{
                            color: #000
                        }
                    }
                    
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: #fff;
                    }
                    
                    
                    &.visit{
                        background: #4da357;
                        
                    }
                    &.no-visit{
                        background: #e74c4f;
                    }
                    &.pur{
                        background: #3face9;
                    }
                    &.no-pur{
                        background: #868686;
                    }
                    
                    &:last-child{
                        border-right: 0px;
                    }
                }
                
                &:last-child{
                    .blocks{
                        border-bottom: 0px;
                    }
                }
                
                &.bg-grey{
                    background: #f4f5f9;
                }
                
            }
        }


        .block-item{
            .column-blocks {
                display: flex;
                align-items: center;
                
                margin: 0px -10px;
                
                .blocks {
                    width: 100%;
                    padding: 5px;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    
                    p{
                        font-size: 12px;
                        color: #000000;
                        line-height: 20px;
                        
                        strong{
                            color: #000
                        }
                    }
                    
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: #fff;
                    }
                    
                    
         
                
            }
        }


       
       
    }





    .header {
        background-color: #e2e2e2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .sub-head {
            border-left: solid 1px #ccc;
            padding-left: 6px;
        }
    }
    
    .credit-box {
        
        .credit-head {
            background: #9b2450;
            padding: 10px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            // border-bottom: 1px dashed #ffff;
            
            span {
                font-size: 13px;
                font-style: inherit;
                margin: 0px 5px;
                font-weight: 600;
            }
        }
        
        .credit-column {
            
            .box {
                // border: 1px dashed #9b2450;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
                
                .followup_slotDetail {
                    max-height: 150px;
                    // overflow-y: auto;
                }
                
                .followupDetail_card {
                    border: 1px solid #ccc;
                    margin: 2px 4px 2px 4px;
                    // align-items: center;
                    border-radius: 4px;
                    
                    >.followupDetail_cardContent {
                        display: flex;
                        justify-content: flex-start;
                        align-items: stretch;
                        border-radius: 4px;
                        
                        >.followup_Time {
                            border-radius: 4px 0 0 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80px;
                            background-color: rgb(3, 153, 207);
                            color: #fff;
                            padding: 2px;
                            
                        }
                        
                        >.followup_Name {
                            // flex: 1;
                            background-color: red;
                            width: 30%;
                            padding: 2px;
                            text-align: left;
                            background-color: #fff;
                            border-radius: 0px 4px 4px 0px;
                            margin-left: 6px;
                            
                            .outstanding {
                                border: 2px dashed green;
                                border-radius: 4px;
                                padding: 2px;
                                text-align: center;
                            }
                            
                            .overdue {
                                border: 2px dashed #cc3300;
                                border-radius: 4px;
                                padding: 2px;
                                text-align: center;
                            }
                            
                            p {
                                font-weight: bold;
                                font-size: 12px;
                            }
                        }
                        
                        .Outstandingbadge {
                            
                            margin-left: auto;
                            ion-badge{
                                background-color : green;
                                font-size: 10px;
                                width: 70px;
                                // font-size: 8px;
                                margin-right: 5px;
                                top: 3px;
                                position: relative;
                            }
                            
                        }
                        .Overduebadge {
                            
                            margin-left: auto;
                            ion-badge{
                                background-color :red ; 
                                width: 70px;
                                font-size: 10px;
                                margin-right: 5px;
                                top: 3px;
                                position: relative;                              }
                            }
                        }
                    }
                    
                    .Credit {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        justify-content: space-evenly;
                        width: 100%;
                        
                        .credit-column {
                            background-color: #f4f4f4;
                            width: 100%;
                            padding: 10px 5px;
                            
                            p {
                                font-weight: 600;
                            }
                        }
                    }
                    
                    table {
                        border: 2px solid #ccc;
                        background: #fdfdfd;
                        width: 100%;
                        table-layout: fixed;
                        box-sizing: border-box;
                        border-collapse: collapse;
                        border-radius: 8px;
                        
                        tr {
                            border-bottom: 1px solid #ccc;
                            display: flex;
                            // flex: 1;
                            flex-direction: row;
                            
                            td {
                                display: flex;
                                flex: 1;
                                padding: 5px;
                                font-size: 12px;
                                font-weight: 600;
                                border: solid 1px #ccc;
                                border-bottom: 0px;
                                
                                &:nth-child(1) {
                                    border-left: 0px;
                                }
                                
                                &:nth-child(3) {
                                    border-right: 0px;
                                }
                                
                                i {
                                    font-size: 20px;
                                    line-height: 20px;
                                }
                                
                                div {
                                    background-color: grey;
                                    padding: 4px;
                                    border-radius: 4px;
                                    width: 24%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                                
                                p {
                                    font-size: 12px;
                                    font-weight: 600;
                                    
                                    
                                    span {
                                        width: 20px;
                                        height: 20px;
                                        color: #ff0000;
                                        background: #fff;
                                        border-radius: 4px;
                                        text-align: center;
                                        line-height: 20px;
                                        display: inline-block;
                                        margin-left: 10px !important;
                                    }
                                }
                                
                                &:last-child {
                                    text-align: right;
                                }
                                
                                
                            }
                            
                            &.new {
                                td {
                                    background: #f8e152;
                                    color: #fff;
                                }
                            }
                            
                            &.primary-odr {
                                td {
                                    background: #e0489f;
                                    color: #fff;
                                }
                            }
                            
                            &.sec-odr {
                                td {
                                    background: #8478fe;
                                    color: #fff;
                                }
                            }
                            
                            &:last-child {
                                border-bottom: 0px;
                            }
                            
                        }
                    }
                    
                    h2 {
                        font-size: 13px;
                        padding: 10px;
                        text-align: center;
                        color: #9b2450;
                        // letter-spacing: 0.5px;
                        border-bottom: 1px dashed #9b2450;
                    }
                    
                   
                    
                    .vs {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        text-shadow: 2px 2px 4px #f784aa;
                        color: #000000;
                        margin: 10px 0px;
                    }
                    
                    .payment {
                        display: flex;
                        flex-direction: row;
                        border: 1px dashed rgb(2, 181, 2);
                        background-color: rgba(189, 255, 189, 0.759);
                        width: 96%;
                        margin: 4px;
                        padding: 4px;
                        justify-content: space-evenly;
                        
                        img {
                            height: 20px;
                            width: 20px
                        }
                        
                        p {
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 20px;
                            letter-spacing: 0.5px;
                            margin-left: -10px;
                            color: rgb(79, 78, 78);
                            width:88%;
                            
                            span:nth-child(1) {
                                
                                padding: 2px;
                                
                                font-weight: 800;
                                color: rgb(0, 0, 0);
                                
                            }
                            span:nth-child(2) {
                                border: 1px solid rgb(247, 250, 247);
                                padding: 3px;
                                background-color: green;
                                border-radius: 4px;
                                font-weight: 400;
                                color: rgb(249, 251, 249);
                                margin-left: 18px !important;
                            }
                        }
                        
                    }
                    
                    
                 
                }
                
                &.single-column {
                    grid-template-columns: 1fr;
                }
            }
        }
        
        label.chedate {
            position: relative;
            overflow: hidden;
            color: #000;
        }
        
        label.chedate input {
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 0px !important;
            padding: 0px !important;
            height: 24px !important;
            font-size: 999999px !important;
            opacity: 0;
            z-index: 1;
            width: 200px !important;
        }
        
        .btn-elip {
            .button-inner {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
            }
        }
        
        .ftabs {
            button {
                height: 35px;
                min-height: 35px;
                
                .item-inner {
                    .input-wrapper {
                        ion-label {
                            height: 35px;
                            padding: 0px !important;
                            justify-content: center !important;
                        }
                    }
                }
            }
        }
        
        .distributerDetailsIcons {
            background: white;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 3px;
        }
        
        .slab{
            justify-content: space-between;

           
        }
        
}
    
    
    