page-contact {


    .map-add {
        position: unset !important; 
    }

    .map-add .contect {
        margin-top: 15px !important;
    }

    .map-add:before {
      
        position: unset !important;
       
    }

}
