<ion-header>
  <ion-navbar>
    <ion-title class="f14">
      {{mode?('Edit Purchase'|translate):('Add Purchase Order'|translate)}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form  #f="ngForm" (ngSubmit)="f.valid && submit()">
    <div class="form">
      <ion-list>

        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && bill_no?.invalid}" >
          <ion-label floating>{{'Bill No.' | translate}}<strong class="red-text" *ngIf="newType==17">*</strong></ion-label>
          <ion-input type="text"  name="bill_no" #bill_no="ngModel" maxlength="20"  [(ngModel)]="data.bill_no"  [disabled]="add_list.length>0" [required]="newType==17" ></ion-input>
        </ion-item>
        
        
        <ion-item class="cs-input mt0" [ngClass]="{'error':f.submitted && type?.invalid}">
          <ion-label floating>{{'Select Type'|translate}}<span>*</span></ion-label>
          <ion-select name="type" [(ngModel)]="data.type" #type="ngModel"  (ngModelChange)="getnetworklist(data.type)"   [disabled]="add_list.length>0" required  >
            <ion-option value="3">{{'Dealer'|translate}}</ion-option>
            <ion-option value="7">{{'Direct Dealer'|translate}}</ion-option>
            <ion-option value="1" >{{'Distributor'|translate}}</ion-option>
          </ion-select>
        </ion-item>
        
        
        <ng-container  *ngIf="data.type">
          <ion-item [ngClass]="{'error':f.submitted && dealer_id?.invalid}">
            <ion-label floating  *ngIf="data.type==1">{{'Select Distributor'|translate}}<span>*</span></ion-label>
            <ion-label floating  *ngIf="data.type==7">{{'Select Direct Dealer'|translate}}<span>*</span></ion-label>
            <ion-label floating  *ngIf="data.type==3">{{'Select Dealer'|translate}}<span>*</span></ion-label>
            
            
            <ionic-selectable 
            item-content 
            [(ngModel)]="data.dealer_id" 
            #dealer_id="ngModel"
            [items]="influcencersList"
            name="dealer_id"
            itemValueField="id"
            itemTextField="company_name"
            [hasVirtualScroll]="true"
            [disabled]="add_list.length>0"
            (onSearch)="onSearch($event)"
          
            [canSearch]="true" required >
          </ionic-selectable>
        </ion-item>
        
        
        
        <div class="cs-heading1 pl0" >
          <p>ITEM INFORMATION</p>
        </div>
        <ion-item class="cs-input mt0">
          <ion-label floating>{{'Select Category'}}</ion-label>
          <ion-select name="cat_id" [(ngModel)]="data.cat_id" #cat_id="ngModel" (ngModelChange)="productItems(data.cat_id)" >
            <ion-option *ngFor="let row of catList" value="{{row.id}}">{{row.category}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating >{{'Select Item'}}</ion-label>
          <ionic-selectable
          item-content 
          [(ngModel)]="data.item_name" 
          #item_name="ngModel"
          [items]="ItemList"
          name="item_name"
          itemValueField="id"
          itemTextField="product_name"
          [hasVirtualScroll]="true"
          (onSearch)="searchItemList($event)"
          [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-item class="cs-input">
        <ion-label floating>{{'QTY'}}</ion-label>
        <ion-input type="tel"  name="qty" #qty="ngModel" min="0"  minlength="1"  maxlength="5"  [(ngModel)]="data.qty"></ion-input>
      </ion-item>
      
      <div class="mt16" *ngIf="data.qty>0">
        <button ion-button block class="capitalize" (click)="addToList()"  >{{'Add To List'|translate}}</button>
      </div>
    </ng-container>
    
    <ng-container *ngIf="add_list.length>0 && data.type ">
      <div  *ngFor="let row of add_list; let i = index;">
        <div class="cs-list mt15">
          <div class="top-block">
            <p>{{'Category' }} : <strong>{{row.item_name.category }}</strong></p>
            
            
          </div>
          <div class="middle-block">
            <div class="three-block">
              <p>{{'Quantity' }} : <strong>{{row.qty}}</strong></p>
              
            </div>
            <div class="three-block">
              <p>{{'Product Detail' }} : <strong > {{row.item_name.sub_category_name}}-{{row.item_name.product_name | titlecase}}</strong> </p>
              <button><i class="material-icons red-clr" (click)="listdelete(i)">delete_sweep</i></button>
            </div>
            
          </div>
          
        </div>
      </div>
      
    </ng-container>
    <div class="upload-doc mt20">
      <p class="">{{'Upload Image'|translate}}<span style="color:red">*</span></p>
      <ul class="no-padding">
        <li  class="image-upload" *ngFor="let row of selImages; let i=index" [ngClass]="{'active': data.profile_selected == row.id}">
          <img src="{{row.id ? uploadurl+row.image : row.image}}">
          <button class="del"><i class="material-icons"
            (click)="remove_image(i)">delete_sweep</i></button>
          </li>
          
          <li class="add_image" (click)="selImages.length <= 5 ?  captureMedia() : showLimit()">
            <img src="assets/imgs/upload_imae_icon.png" alt="">
            {{'Upload'|translate}} <span>{{'Here'|translate}}</span>
          </li>
        </ul>
      </div>
      
      
      <!-- <div class="uploade-image">
        <ul>
          <li *ngFor="let row of selImages; let i=index" [ngClass]="{'active': data.profile_selected == row.id}">
            <img src="{{row.id ? uploadurl+row.image : row.image}}">
            <span class="cancel-icon">
              <i class="material-icons crose-icon" (click)="showConfirm(i,row.id)">clear</i>
            </span>
          </li>
          <li class="add-bg-1" (click)="takeDocPhotopers()">
            <i class="material-icons">add</i>
            <p >Take a Picture</p>
          </li>
        </ul>
      </div> -->
      
      
      
      
      
      <div class="mt16" >
        <button ion-button block class="capitalize" [disabled]="saveFlag" ><ion-spinner *ngIf="spinner == true"></ion-spinner>{{('Save'|translate)}}</button>
      </div>
      
      
      
    </ion-list>
  </div>
  
  
</form>



</ion-content>