<ion-header>
    <ion-navbar>
        <ion-title>Dealer Transfer Requests</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <div class="search add-search">
            <div class="filter">
                <ion-searchbar type='text' name="master_search" [(ngModel)]="filter.master_search" (keyup.enter)="getTransferRequestList(ActiveTab)"></ion-searchbar>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="capsule-tabs">
        <ul>
            <li [ngClass]="{'active' : ActiveTab=='Pending'}" (click)="ActiveTab='Pending' ;getTransferRequestList(ActiveTab)">
                <p>Pending
                    <span>{{transferReqCounts.Pending}}</span>
                </p>
            </li>
            
            <li [ngClass]="{'active' : ActiveTab=='Approved'}" (click)="ActiveTab='Approved';getTransferRequestList(ActiveTab)">
                <p>Approved
                    <span>{{transferReqCounts.Approved}}</span>
                </p>
            </li>
            
            <li [ngClass]="{'active' : ActiveTab=='Reject'}" (click)="ActiveTab='Reject';getTransferRequestList(ActiveTab)">
                <p>Rejected
                    <span>{{transferReqCounts.Reject}}</span>
                </p>
            </li>
        </ul>
    </div>
    
    <div class="padding16">
        <div class="list-box" *ngFor="let row of transferReqList" (click)="goToTransferReqyestDetail(row.id)">
            <div class="mid mt0">
                <div class="content-info">
                    <div class="left-info" >
                        <div class="circle">{{row.company_name.substring(0,1).toUpperCase()}}</div>
                    </div>
                    
                    <div class="right-info" >
                        <p>{{row.company_name.toUpperCase()}}</p>
                        <p>{{row.name | titlecase}} ({{row.mobile}})</p>
                    </div>
                </div>
                
                <div class="tag-info">
                    <a><i class="material-icons">chevron_right</i></a>
                </div>
            </div>
            
            <div class="upper">
                <div class="left-date">
                    <div class="date-section">
                        <p>{{row.date_created | date:'d MMM y hh:mm a'}}</p>
                        <p>Date Created</p>
                    </div>
                    
                    <div class="date-section">
                        <p>{{row.total_items ? row.total_items : '0'}}</p>
                        <p>Total Item</p>
                    </div>
                    
                    <div class="date-section">
                        <p>{{row.total_item_qty ? row.total_item_qty : '0'}}</p>
                        <p>Total Item Qty</p>
                    </div>
                </div>
            </div>
            
            <div class="lower" *ngIf="row.remark">
                <p>Reject Remark</p>
                <p>{{row.remark ? row.remark : '-'}}</p>
            </div>
        </div>
    </div>
    
    <div class="nothing-here" style="height: 70%;" *ngIf="!transferReqList?.length">
        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data Not Available</p>
            </div>
        </div>
    </div>
    
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="goToSendPoints()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    
</ion-content>
