page-survey-list {

    ion-card{
        border-radius: 6px !important;

        ion-card-header{
            padding-right: 30px !important;
            font-size: 14px !important;
            font-weight: 600;
            position: relative;

            ion-icon{
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-size: 22px;
            }
        }
    }
   

}
