<!--
  Generated template for the InstallationListPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Installation</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar>
    <div class="search add-search">
      <div class="filter">
        <ion-searchbar (ngModelChange)="installationList()" [(ngModel)]="filter.master" name="master"></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ng-container *ngIf="showRelatedTab!=false">
  <div class="capsule-tabs" style="border-bottom: 0px;">
    <ul>
      <li [ngClass]="{'active':installtion_type == 'All'}" (click)="installtion_type = 'All';installationList()">
        <p>All<span>{{count.all_count}}</span></p>
      </li>
      <li [ngClass]="{'active':installtion_type == 'Pending'}"
      (click)="installtion_type = 'Pending';installationList()">
      <p>Pending<span>{{count.pending_count}}</span></p>
    </li>
    <li [ngClass]="{'active':installtion_type == 'Done'}" (click)="installtion_type = 'Done';installationList()">
      <p>Complete<span>{{count.done_count}}</span></p>
    </li>
    
    <li [ngClass]="{'active':installtion_type == 'Reject'}"
    (click)="installtion_type = 'Reject';installationList()">
    <p>Reject<span>{{count.reject_count}}</span></p>
  </li>
</ul>
</div>
<div class="pl16 pr16 mt15 mb50">
  
  <div class="attendance-list" *ngFor="let row of installation_list; let i=index"
  (click)="goInstallationDetail(row.id)">
  <div class="slab slab-bg" style="display: flex; justify-content: space-between;">
    <div class="slab-day">
      <p>{{row.date_created | date:'d MMM y' }}</p>
      <span>Date</span>
    </div>
    <div class="slab-day">
      <p>{{row.complain_no}}</p>
      <span>Id</span>
    </div>
    
    <div class="slab-day">
      <p class="bold">{{row.complaint_status}}</p>
      <span>Status</span>
    </div>
    <div class="slab-day">
      <p>{{row.pending_at?row.pending_at:'--'}}</p>
      <span>TAT</span>
    </div>
  </div>
  
  <div class="center-block">
    <div class="circle">{{row.customer_name?.substring(0,1).toUpperCase()}}</div>
    <span>{{row.customer_name}}</span>
    <p>{{row.customer_mobile}}</p>
  </div>
  
  <div class="slab mt5">
    <div class="slab-day">
      <p>{{ row.city | titlecase }} , {{row.district | titlecase }} , {{row.state | titlecase}} , {{row.pincode}}
      </p>
      <span>Customer Address</span>
    </div>
  </div>
  
</div>
</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<div class="nothing-here" style="height: 60%;" *ngIf="!installation_list.length">
  <div class="outer">
    <div class="innear">
      <img src="assets/imgs/no_found.svg" alt="">
      <p>No Data Available</p>
    </div>
  </div>
</div>
</ng-container>
</ion-content>