<ion-header>
    <ion-navbar>
        <ion-title *ngIf="meet_Type=='My'">Event</ion-title>
        <ion-title *ngIf="meet_Type=='Team'">Team Event</ion-title>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="teamCount > 0" (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="capsule-tabs">
        <ul>
            <li [ngClass]="{'active' : tabActiveType == 'Pending'}"
                (click)="getContractorMeetList(meet_Type, 'Pending');tabActiveType = 'Pending'">
                <p>Pending<span *ngIf="allcount.Pending">{{allcount.Pending}}</span><span
                        *ngIf="!allcount.Pending">0</span></p>
            </li>

            <li (click)="getContractorMeetList(meet_Type, 'Approved');tabActiveType = 'Approved'"
                [ngClass]="{'active' : tabActiveType == 'Approved'}">
                <p>Approved<span *ngIf="allcount.Approved">{{allcount.Approved}}</span><span
                        *ngIf="!allcount.Approved">0</span></p>
            </li>
            <li (click)="getContractorMeetList(meet_Type, 'Completed');tabActiveType = 'Completed'"
                [ngClass]="{'active' : tabActiveType == 'Completed'}">
                <p>Completed<span *ngIf="allcount.Completed">{{allcount.Completed}}</span><span
                        *ngIf="!allcount.Completed">0</span></p>
            </li>
            <li (click)="getContractorMeetList(meet_Type, 'Cancel');tabActiveType = 'Cancel'"
                [ngClass]="{'active' : tabActiveType == 'Cancel'}">
                <p>Cancel<span *ngIf="allcount.Cancel">{{allcount.Cancel}}</span><span *ngIf="!allcount.Cancel">0</span>
                </p>
            </li>
            <li (click)="getContractorMeetList(meet_Type, 'Reject');tabActiveType = 'Reject'"
                [ngClass]="{'active' : tabActiveType == 'Reject'}">
                <p>Rejected<span *ngIf="allcount.Reject">{{allcount.Reject}}</span><span
                        *ngIf="!allcount.Reject">0</span></p>
            </li>
        </ul>
    </div>


    <div class="searchBarBox mb15">
        <div class="edit m4" *ngIf="meet_Type=='Team'">
            <ion-list>
                <ng-container>
                    <ion-item class="cs-normal-select mt0 mb0">
                        <ion-label>Select User</ion-label>
                        <ion-select icon="account" placeholder="Select User" name="filter" [(ngModel)]="filter.search"
                            (ngModelChange)="getContractorMeetList(meet_Type, tabActiveType)">
                            <ion-option value="">All Users</ion-option>
                            <ion-option *ngFor="let row of user_list" value="{{row.id}}">{{row.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ng-container>
            </ion-list>
        </div>
    </div>

    <div class="pd-left-right16 mt16 mb100">
        <div class="attendance-list" *ngFor="let row of data;">
            <div class="slab slab-bg">
                <div class="slab-day">
                    <p>{{row.date_created != '0000-00-00 00:00:00'?(row.date_created | date:'dd-MMM-yyyy'):'N/A'}}</p>
                    <span>Date Created</span>
                </div>
                <div class="slab-day">
                    <p>{{row.date_of_meeting != '0000-00-00 00:00:00'?(row.date_of_meeting | date:'dd-MMM-yyyy'):'N/A'}}
                    </p>
                    <span>Meeting Date</span>
                </div>
                <div class="slab-day">
                    <p class="text-center">{{row.total_member||'N/A'}}</p>
                    <span>Members</span>
                    <i class="material-icons" *ngIf="meet_Type=='Team' &&  tabActiveType == 'Pending'"
                        (click)="statusModal('seniorStatus',row.id)">edit</i>
                </div>
            </div>
            <div class="slab mt8" *ngIf="meet_Type=='Team'">
                <div class="slab-day">
                    <span>Created By</span>
                </div>
                <div class="slab-day">
                    <p class="bold">{{row.created_by_name}}</p>
                    <!-- <i class="material-icons" (click)="statusModal('seniorStatus',row.id)">edit</i> -->
                </div>


            </div>

            <div class="center-block" (click)="meet_Type=='My'? contractorMeetDetail($event,row.id) : null">
                <div class="circle">{{(row.name | slice:0:1)||'N/A'}}</div>
                <h1>{{(row.company_name | titlecase)||'N/A'}}</h1>
                <p>{{row.name | titlecase}} ({{row.mobile ? row.mobile :'--'}})</p>
                <a *ngIf="row.status == 'Pending' " class="cell-phone flat-block" (click)="listdelete($event,row.id)"><i
                        class="material-icons reject">delete</i></a>
            </div>
            <div class="center-block">
                <h1>{{(row.event_type | titlecase)||'N/A'}}</h1>
            </div>
            <div class="slab mt10" (click)="meet_Type=='My'? contractorMeetDetail($event,row.id) : null">
                <div class="slab-day">
                    <p>{{row.date_updated != '0000-00-00 00:00:00'?(row.date_updated | date:'dd-MMM-yyyy hh:mm
                        aa'):'---'}}</p>
                    <span>Last Update On</span>
                </div>
                <div class="slab-day">
                    <p class="bold">₹ {{row.total_budget||'0'}}</p>
                    <span>Budget</span>
                </div>
                <div class="slab-day">
                    <p class="bold">₹ {{row.credit_amount ||'0'}}</p>
                    <span>Approved</span>
                </div>
                <div class="slab-day">
                    <p class="bold">{{row.Days||'0'}}</p>
                    <span>Days</span>
                </div>
            </div>
        </div>
    </div>

    <div class="nothing-here" *ngIf="data && data.result && data.result.length==0">
        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data Not Available</p>
            </div>
        </div>
    </div>

    <ion-fab right bottom *ngIf="meet_Type=='My'">
        <button ion-fab color="primary" (click)="contractorMeetAdd()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...'}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>