
<ion-header>
  <ion-navbar>
    <ion-title>Brand Audit Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="attendance-list flat-list">
    <div class="slab slab-bg">
      <div class="slab-day">
        <p>{{brandAuditDetail.date_created != '0000-00-00 00:00:00' ? (brandAuditDetail.date_created | date:'d MMM yyy , hh:mm a') : '---'  }}</p>
        <span>Date Created</span>
      </div>
      <div class="slab-day">
        <p># {{brandAuditDetail.id}}</p>
        <span >Brand Audit Id</span>
      </div>
    </div>
    <div class="center-block">
      <div class="circle" >{{brandAuditDetail.customer_name?.substring(0,1).toUpperCase()}}</div>
      <h1 class="f12" >{{brandAuditDetail.customer_name?.toUpperCase()}}</h1>
      <p>{{brandAuditDetail.customer_type}}</p>
  </div>
    <div class="other-block pb0">
      <p><strong>Brand Detail :</strong> {{brandAuditDetail.brand_detail ? brandAuditDetail.brand_detail : '---'}}</p>
    </div>
    <div class="other-block pb0">
      <p><strong>Branding Required :</strong> {{brandAuditDetail.branding_required ? brandAuditDetail.branding_required : 'No'}}</p>
    </div>
    <div class="other-block pb0">
      <p><strong>Remark :</strong> {{brandAuditDetail.message}}</p>
    </div>
  </div>
  
  
  
  <div class="upload-doc pl16 pr16">
    <ng-container *ngIf="docImg.length > 0">
      <div class="">
        Brand Audit Image
      </div>
      <ul class="no-padding" >
        <li class="image-upload" *ngFor="let image of docImg; index as i" (click)="imageModal(url+image.document_name)">
          <img src="{{url+image.document_name}}">
        </li>
      </ul>
    </ng-container>
    
  </div>
  
  
</ion-content>
