<ion-header>
  <ion-navbar>
    <ion-title>Brand Audit</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<div class="nothing-here" *ngIf="!brandAuditData.length">
  <div class="outer">
    <div class="innear">
      <img src="assets/imgs/no_found.svg" alt="">
      <p>Data Not Available</p>
    </div>
  </div>
</div>
<div class="pd-left-right16 mt16 mb100">
  <div class="attendance-list"  *ngFor="let data of brandAuditData" (click)="support_detail(data.id)">
    <div class="slab slab-bg">
      <div class="slab-day">
        <p>{{data.date_created != '0000-00-00 00:00:00' ? (data.date_created | date:'d MMM yyy , hh:mm a') : '---'  }}</p>
        <span>Date Created</span>
      </div>
      <div class="slab-day">
        <p># {{data.id}}</p>
        <span >Brand Audit Id</span>
      </div>
    </div>
    <div class="center-block">
      <div class="circle" >{{data.customer_name?.substring(0,1).toUpperCase()}}</div>
      <h1 class="f12" >{{data.customer_name?.toUpperCase()}}</h1>
      <p>{{data.customer_type}}</p>
  </div>
    <div class="other-block pb0">
      <p><strong>Brand Detail :</strong> {{data.brand_detail ? data.brand_detail : '---'}}</p>
    </div>
    <div class="other-block pb0">
      <p><strong>Remark :</strong> {{data.message}}</p>
    </div>
 
  </div>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
		<ion-infinite-scroll-content
		loadingSpinner="bubbles"
		loadingText="Loading more data...">
	</ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>

<ion-fab right bottom (click)="goToBrandAuditAdd()" *ngIf="Frompage != 'audit'">
  <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</ion-content>
