<ion-header>
  <ion-navbar>
    <ion-title>Add Brand Audit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="f.form.valid && confirmAlert()">
    <div class="form">
      <ion-list no-lines class="padding10">
        <ion-item [ngClass]="{'error':f.submitted && customer_type?.invalid}">
          <ion-label floating>Select Customer Type <span class="red-text">*</span></ion-label>
          <ion-select interface="action-sheet" name="customer_type" #customer_type="ngModel"
            [(ngModel)]="data.customer_type" (ngModelChange)="getCustomerData(data.customer_type)"
            [disabled]="checkin_id || this.navParams.get('fromPage') == 'distDetail'" required>
            <ion-option *ngFor="let row of networkType" value="{{row.type}}">{{row.module_name == 'Enquiry' ? 'New Leads' : (row.module_name == 'Lead' ? 'Project' : row.module_name) 
              }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="eror" *ngIf="f.submitted && customer_type?.invalid">
          <p> {{ 'This field is required'}}</p>
        </div>


        <ng-container *ngIf="checkin_id || this.navParams.get('fromPage') == 'distDetail'">
          <ion-item [ngClass]="{'error':f.submitted && data.customer_name?.invalid}">
            <ion-label floating>{{data.module_name == 'Enquiry' ? 'New Leads' : (data.module_name == 'Lead' ? 'Project' : data.module_name) 
            }} <span class="red-text">*</span></ion-label>
            <ion-select interface="action-sheet" name="customer_name" #customer_name="ngModel"
              [(ngModel)]="data.customer_name" [disabled]="checkin_id || this.navParams.get('fromPage') == 'distDetail'"
              required>
              <ion-option *ngFor="let row of drList" value="{{row.id}}">{{row.display_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="!checkin_id && this.navParams.get('fromPage') != 'distDetail'">
          <ion-item [ngClass]="{'error':f.submitted && customer_name?.invalid}" *ngIf="data.customer_type">
            <ion-label floating>{{data.module_name}} <span class="red-text">*</span></ion-label>

            <ionic-selectable item-content name="customer_name" #customer_name="ngModel"
              [(ngModel)]="data.customer_name" [items]="drList" itemValueField="id" itemTextField="display_name"
              [canSearch]="true" #selectComponent>
            </ionic-selectable>
          </ion-item>
          <div class="eror" *ngIf="f.submitted && customer_name?.invalid">
            <p> {{ 'This field is required'}}</p>
          </div>
        </ng-container>


        <ion-item class="multiselectionSelectionBox" [ngClass]="{'error':f.submitted && brand_detail?.invalid}">
          <ion-label floating>Visibility of Competition Brand <span class="red-text">*</span></ion-label>
          <ion-select [multiple]="true" name="brand_detail" #brand_detail="ngModel" [(ngModel)]="data.brand_detail"
            required>
            <ion-option *ngFor="let row of brandList" value="{{row.category_name}}">{{row.category_name |
              titlecase}}</ion-option>
          </ion-select>
        </ion-item>
        <div class="eror" *ngIf="f.submitted && brand_detail?.invalid">
          <p> {{ 'This field is required'}}</p>
        </div>
        <div class="radio-section">
          <h2 style="font-size: 12px;">Branding Required <span class="red-text">*</span></h2>
          <ion-list class="choose mb0" radio-group name="branding_required" [(ngModel)]="data.branding_required"
            #branding_required="ngModel" [ngClass]="{'error':f.submitted && branding_required?.invalid}" required>
            <ion-item>
              <ion-radio checked="true" value="Yes"></ion-radio>
              <ion-label>Yes</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="No"></ion-radio>
            </ion-item>
          </ion-list>
          <div class="eror" *ngIf="f.submitted && branding_required?.invalid">
            <p> {{ 'This field is required'}}</p>
          </div>
        </div>

        <ion-item [ngClass]="{'error':f.submitted && remarks?.invalid}" *ngIf="data.branding_required == 'Yes'">
          <ion-label floating>Remark <span class="red-text">*</span></ion-label>
          <ion-textarea name="remarks" #remarks="ngModel" [(ngModel)]="data.remarks"></ion-textarea>
        </ion-item>
        <div class="eror" *ngIf="f.submitted && remarks?.invalid">
          <p> {{ 'This field is required'}}</p>
        </div>
      </ion-list>

      <div class="upload-doc upload-doc mt0  pt0 padding10">
        <div class="">
          Attach Image
        </div>
        <ul class="no-padding">
          <li class="add-image" (click)="onUploadChange()">
            <i class="material-icons">add_a_photo</i>
          </li>
          <li class="image-upload" *ngFor="let image of selectImage;index as i">
            <img src="{{image}}">
            <button class="del" (click)="delete_img(i)"><i class="material-icons">delete_sweep</i></button>
          </li>
        </ul>
      </div>
      <button ion-button color="primary" block [disabled]="savingFlag == true">
        <ion-spinner *ngIf="spinnerLoader"></ion-spinner>&nbsp;{{savingFlag == true ? 'Please Wait': 'Save' }}
      </button>
    </div>
  </form>
</ion-content>