page-loyalty-home {

    .point-column {
        p {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px !important;


            span{
                font-size: 16px;
                font-weight: 600;
            }
        }
    
    }
}
